.edit-task-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow-y: auto;
}

.edit-task-container {
    width: 423px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 50px;
    overflow-y: scroll;
}

.trash-icon {
    cursor: pointer;
    padding: 10px;
}

.trash-icon:hover {
    background-color: #94d5f0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 255ms ease-in-out;
}

.edit-task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 25px;
        cursor: pointer;
        padding: 10px;

        &:hover {
            background-color: #94d5f0;
            border-radius: 10px;
        }
    }
}

.edit-task-title {
    width: fit-content;
    padding: 5px 30px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}

.d-flex {
    display: flex;
    align-items: center;
}