<app-header></app-header>
<app-nav-bar></app-nav-bar>

<div class="edit-task-content" routerLink="/board">
    <div class="edit-task-container" (click)="stopPropagation($event)">
    <div class="edit-task-header"><h2>Eidt Task</h2><img src="../../assets/img/xicon.svg" routerLink="/board"></div>
        <div class="edit-task-title"></div>
        <span></span>
        <div class="d-flex"></div>
        <div class="d-flex"></div>
        <div class="d-flex"></div>
        <div class="d-flex"></div>
        <div class="edit-taslk-bottom">
            <img src="../../assets/img/edit_contact.png" alt="edit-task">
            <img src="../../assets/img/delete.png" alt="delete-task">
        </div>
</div>
</div>
