.d-none {
    display: none;
}

header {
    font-size: 21px;
    font-weight: 400;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px 0px 348px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 89px;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.header-nav {
    position: relative;
    // display: inline-block;
    display: flex;
    align-items: center;
}

.logout-menu {
    position: absolute;
    background: #2a3647;
    top: 100%;
    right: 0;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    width: 130px;
    border-radius: 20px 0px 20px 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

    li {
        padding: 10px;
        cursor: pointer;

        span {
            color: white;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
        }
    }
}

.header-nav-mobile {
    display: none;
}

.header-user-img {
    margin-left: 20px;
    width: 49px;
}

.header-nav img {
    cursor: pointer;
}

.header-logo {

    img {
        width: 50px;
        height: 50px;
        display: none;
    }
}

.button-style {
    border: none;
    background-color: white;
    cursor: pointer;
}

.hide-content {
    display: none;
}

@media(max-width: 1000px) {
    .header-help-icon {
        display: none;
    }

    .hide-content {
        display: block;
    }

    .header-logo {

        img {
            display: block;
        }
    }

    .headline {
        display: none;
    }

    .header-logo {
        display: block;
    }

    header {
        padding: 0 25px;
        height: 80px;
    }

    :root {
        --header-height: 0;
    }

    .mobile-dnone {
        display: none;
    }

    .header-nav-mobile {
        display: block;
    }
}