.d-none {
    display: none;
}

header {
    font-size: 21px;
    font-weight: 400;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 36px 0px 348px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 89px;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-mobile {
    display: none;
}

.header-user-img {
    margin-left: 20px;
    width: 49px;
}

.header-nav img {
    cursor: pointer;
}

.header-logo {

    img {
        width: 50px;
        height: 50px;
        display: none;
    }
}

.button-style {
    border: none;
    background-color: white;
    cursor: pointer;
}

.hide-content {
    display: none;
}

@media(max-width: 1000px) {
    .header-help-icon {
        display: none;
    }

    .header-logo {

        img {
            display: block;
        }
    }

    .headline {
        display: none;
    }

    .header-logo {
        display: block;
    }

    header {
        padding: 0 25px;
        height: 80px;
    }

    :root {
        --header-height: 0;
    }

    .mobile-dnone {
        display: none;
    }

    .header-nav-mobile {
        display: block;
    }
}