.d-none {
    display: none !important;
}

.contacts-main-container {
    display: flex;
    margin-left: 232px;
    height: 100vh;
    background-color: white;
}

h1 {
    margin: unset !important;
    width: 315px;
    font-weight: 700;
    font-size: 61px;
}

.overflow {
    overflow: hidden;
}

/* Content - left side */

.contact-list-container {
    display: flex;
    justify-content: center;
    width: 500px;
    background-color: white;
    overflow: auto;
    scroll-behavior: smooth;
}

.contact-list {
    margin: 110px 0 20px 0;
}

#firstLetter {
    display: none;
}

.contact-index {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    font-size: 22px;
}

.contact-underline {
    width: 100%;
    height: 0.1px;
    background-color: #D1D1D1;
    margin-top: 20px;
}

.seperator-line-container {
    display: flex;
    align-items: center;
    background-color: white;
}

.separator-line {
    width: 1.5px;
    background-color: #D1D1D1;
    height: 450px;
}

.contact-list-box {
    margin: 20px;
    padding: 10px 15px 10px 15px;
    gap: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 225ms ease-in-out;

    &:hover {
        background-color: #F5F5F5;
        border-radius: 20px;
    }
}

.selected-contact-box {
    background-color: #2A3647;
    color: white;
    border-radius: 20px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-name {
    font-size: 18px;
}

.contact-phone {
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: all 225ms ease-in-out;

    &:hover {
        color: #29abe2;
    }
}

.contact-email {
    font-size: 18px;
    color: #007CEE;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: #2a3647;
    }
}

.contact-letters {
    padding: 10px;
    border-radius: 100%;
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
}

.small-letters {
    height: 35px;
    width: 35px;
    font-size: 16px;
}

.big-letters {
    height: 100px;
    width: 100px;
    font-size: 47px;
    border: none !important;
}

/* Add task overlay */

.hide-content {
    display: none;
}

.visibility {
    visibility: hidden;
}

.area-for-close-popups {
    width: 100%;
    height: 100%;
}

.popup-contact-added {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    color: white;
    background-color: #2A3647;
    border: none;
    border-radius: 10px;
}

.height-unset {
    height: 0vh !important;
}

/* Content - right side */

.right-section {
    background-color: #f6f7f8;
    width: 100%;
}

.contact-selection-container {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon-top-right {
    display: flex;
    justify-content: flex-end;
}

.contact-cancel-icon,
.contact-cancel-icon-mobile {
    padding: 10px;
    height: 25px;
    border-radius: 8px;
    transition: all 225ms ease-in-out;
    cursor: pointer;
}

.contact-selection-box {
    display: flex;
}

.contact-selection {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-information-name {
    font-size: 47px;
    font-weight: 500;
    padding: 0px 0 15px 0;
}

.contact-add-task {
    font-size: 14px;
    color: #007CEE;
    cursor: pointer;
    transition: all 225ms ease-in-out;

    &:hover {
        color: #2A3647;
    }
}

.contact-information-title {
    font-size: 20px;
    display: flex;
    gap: 58px;
}

.contact-edit {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 225ms ease-in-out;
    object-fit: contain;
    background-image: url(../../assets/img/edit_contact.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 160px;

    &:hover {
        background-image: url(../../assets/img/edit_contact_hover.png);
    }
}

.delete-contact {
    cursor: pointer;
    object-fit: contain;
    margin-top: 20px;
    border-radius: 10px;
    transition: all 225ms ease-in-out;
    background-image: url(../../assets/img/delete.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 50px;

    &:hover {
        background-image: url(../../assets/img/delete_hover.png);
    }
}

.contact-edit-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.edit-pencil-icon {
    height: 40px;
    display: none;
}

.contact-trash-icon {
    padding: 10px;
    height: 25px;
    transition: all 225ms ease-in-out;
    cursor: pointer;

    &:hover {
        border-radius: 10px;
    }
}

.icon-bottom-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    cursor: pointer;
}

.margin-letters {
    margin-left: 20px;
}

.close-btn-overlay {
    display: none;
}


/* Title and subtitle */

.contact-header-container {
    display: flex;
    align-items: center;
    margin-top: 171px;
    margin-bottom: 50px;
    padding-left: 47px;
}

.contact-header-seperator {
    width: 3px;
    height: 56px;
    border-radius: 32px;
    margin-left: 32px;
    background-color: #29ABE2;
}

.contact-header-slogan {
    font-size: 27px;
    font-weight: 400;
    padding-left: 32px;
}

.contact-btn-icon {
    width: 25px;
    height: 22px;
}

.contact-btn-position {
    position: fixed;
    right: 32px;
    bottom: 64px;
    font-size: 18px;
}

.contact-cancel-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 5px 10px 5px 10px;
    gap: 8px;
    border: 1px solid black;
    border-radius: 8px;
    color: #2A3647;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    width: 140px;

    &:hover {
        color: #29ABE2;
        border-color: #29ABE2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all 125ms ease-in-out;
    }
}

.contact-cancel-btn:hover .contact-create-icon {
    content: url('../../assets/img/iconoir_cancel_hover.png');
}

.contact-add-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #2A3647;
    padding: 5px 10px 5px 10px;
    gap: 8px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    width: 170px;
    height: 60px;

    &:hover {
        background-color: #29ABE2;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
    }
}

@media(max-width: 1000px) and (max-height: 1000px) {

    #formTaskContainer {
        top: 81px !important;
    }

    /* Input Form Overlay */

    .contact-form-overlay {
        display: unset;
        overflow: auto;
        position: absolute;
        top: 120px;
        max-height: calc(100vh - 150px);
    }

    .contact-form-left-neutral {
        flex-direction: column;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: unset;
        padding: 40px;
    }

    .contact-form-left {
        flex-direction: column;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: unset;
        padding-bottom: 52px;
    }

    .contact-form-right {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: unset;
        text-align: center;
        flex-direction: column;
        padding-top: 40px;
    }

    #contact-addTask-bg {
        top: -80px !important;
    }
}

@media(max-width:1000px) {

    .contact-form-overlay {
        display: unset;
        overflow: auto;
        max-height: calc(100vh - 150px);
    }

    .contact-form-user-icon {
        margin-top: -80px;
        margin-right: unset;
        padding: unset;
    }

    #contactFormEdit-bg {
        top: -80px;
    }

    .contact-list-container {
        padding-bottom: 80px;
        overflow: hidden;
    }

    .overflow {
        overflow: hidden;
    }

    .contact-selection-container {
        padding-left: 0;
    }

    .contact-cancel-icon {
        display: none;
    }

    .contact-cancel-icon-mobile {
        display: block !important;
    }

    .contacts-main-container {
        margin-left: 0px;
    }

    .contact-list-container {
        width: 100%;
    }

    .contact-selection-overlay {
        background-color: #F5F5F5;
        position: absolute;
        right: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        transform: translateX(100%);
        transition: all 250ms ease-in-out;
        margin-top: 80px;
    }

    .close-btn-overlay {
        display: unset;
        display: flex;
        justify-content: flex-end;
        padding: 20px;
    }

    #contactSelection {
        padding-left: 10%;
    }

    .show-contact-selection-overlay {
        transform: translateX(0px);
        position: fixed;
    }

    .contact-header-container {
        display: flex;
        align-items: center;
        margin-top: 0;
        gap: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .contact-header-seperator {
        display: none;
    }

    .contact-header-slogan {
        display: none;
    }

    .contact-btn-position {
        margin-top: 90px;
        top: 0;
        bottom: unset;
    }

    .mobile-contact-back-icon {
        display: unset;
    }

    .mobile-contact-back-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 5px;
        gap: 8px;
        border: none;
        border-radius: 50%;
        color: #2A3647;
        cursor: pointer;
        transition: all 225ms ease-in-out;

        &:hover {
            border-color: #29ABE2;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transition: all 125ms ease-in-out;
        }
    }

    .mobile-contact-back-btn-position {
        position: absolute;
        right: 40px;
        bottom: 40px;
        margin-right: 40px;
    }

    .margin-letters {
        margin-top: -81px;
        margin-left: 0px !important;
    }

    .contact-input-container {
        padding: 0 15px 15px 15px !important;
        width: unset;
    }

    .margin-top {
        margin-top: 15px;
    }

    .contact-form-buttons {
        gap: 15px;
        justify-content: space-around;
        margin-top: unset !important;
    }

    .icon-top-right {
        cursor: pointer;
        position: absolute;
        padding: 20px;
        top: 0;
        right: 0;
        border-top-right-radius: 30px;
    }

    .seperator-line-container {
        display: none;
    }

    .add-form-left {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: unset;
        padding: 40px;
        padding-bottom: 0;
    }

    .add-form-right {
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: unset;
        padding: 30px;
        padding-top: 0;
    }

    .contact-edit {
        display: none;
    }

    .edit-pencil-icon {
        display: unset;
    }

    .btn-centered {
        display: flex;
        justify-content: center;
    }

    .assigned-to-wrapper {
        margin: 0 !important;
    }

    .contact-input-field {
        width: 330px;
    }
}