.add-contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow-y: auto;
}

.add-contact-menu {
    display: flex;
    justify-content: center;
    width: 1000px; 
    position: relative;
    z-index: 999;
    overflow-y: auto;
    max-height: 100vh; 
    overflow-x: hidden;
}

.contact-input-container {
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding: 30px;
    width: 452px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    button:not([disabled]):hover {
        background-color: #29ABE2;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
    }

    button[disabled] {
        cursor: not-allowed;
        pointer-events: none;
        filter: contrast(0.5);
    }

    button {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        background-color: #2A3647;
        padding: 5px 10px 5px 10px;
        gap: 8px;
        border: none;
        border-radius: 8px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.5px;
        cursor: pointer;
        transition: all 225ms ease-in-out;
        width: 170px;
        height: 60px;
        margin-left: auto;
        margin-right: 20px;

        img {
            width: 18px;
        }
    }
}

input {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 13px 21px;
    box-sizing: border-box;
    width: 422px;
    height: 51px;
    font-size: 21px;
    font-weight: 400;
    background-color: white;
    outline: none;
}

.close-popup-mobile {
    display: none;
}

.contact-form-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2A3647;
    color: white;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    .contact-form-logo {
        height: 60px;
        width: 60px;
        padding: 0px 0px 30px 0px;
    }

    .contact-form-underline {
        width: 70px;
    }
}

.contact-form-right {
    display: flex;
    align-items: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    .user-icon {
        height: 90px;
        width: 90px;
        margin-right: -10px;
        padding-left: 20px
    }
}

.icon-top-right {
    display: flex;
    justify-content: flex-end;
}

.close {
    padding: 10px;
    height: 25px;
    border-radius: 8px;
    transition: all 225ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #94d5f0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.p-none {
    padding: 0px !important;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 45px;
}

.contact-popup-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bg-dark {
    background: darkgray !important;
}

@media(max-width: 1000px) {
    .add-contact-menu {
        flex-direction: column;
        width: 400px;
    }

    .contact-form-left {
        align-items: center;
    }

    .icon-top-right {
        cursor: pointer;
        position: absolute;
        padding: 20px;
        top: 0;
        right: 0;
        border-top-right-radius: 30px;
    }

    .close {
        display: none;
    }

    input {
        width: unset;
    }

    .close-popup-mobile {
        padding: 10px;
        height: 25px;
        border-radius: 8px;
        transition: all 225ms ease-in-out;
        cursor: pointer;
        display: block;

        &:hover {
            background-color: #94d5f0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .contact-form-left {
        flex-direction: column;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: unset;
        padding-bottom: 52px;
    }

    .contact-form-right {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: unset;
        text-align: center;
        flex-direction: column;
        padding-top: 40px;
    }

    .user-icon {
        margin-top: -80px;
        margin-right: unset;
        padding: unset !important;
        margin-right: unset !important;
    }

    .contact-input-container {
        width: unset;
    }
}

@media(max-width:450px) {

    .add-contact-menu {
        width: 98%;
    }
}