.card-task-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow-y: auto;
}

.card-task-container {
    width: 423px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 50px;
    overflow-y: scroll;
}

.task-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-task-close {
    display: flex;
    justify-content: space-between;
    width: 100%;

    img {
        height: 25px;
        cursor: pointer;
        padding: 10px;

        &:hover {
            background-color: #94d5f0;
            border-radius: 10px;
        }
    }
}

.card-task-category {
    display: flex;
    align-items: center;
    height: 25px;
    width: fit-content;
    padding: 5px 30px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}

.users {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle {
    display: flex;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
    margin: 0;
    margin-left: -5px;
}

.assigned-contact {
    display: flex;
}

.card-task-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        padding: 20px;
        cursor: pointer;
        border-radius: 10px;
        transition: all 225ms ease-in-out;
        object-fit: contain;
        background-image: url(../../assets/img/edit_contact.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 160px;
        margin-left: -37px;

        &:hover {
            background-image: url(../../assets/img/edit_contact_hover.png);
        }
    }

    div {
        cursor: pointer;
        object-fit: contain;
        border-radius: 10px;
        transition: all 225ms ease-in-out;
        background-image: url(../../assets/img/delete.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 60px;
        width: 50px;
    
        &:hover {
            background-image: url(../../assets/img/delete_hover.png);
        }
    }
}