<app-header></app-header>
<app-nav-bar></app-nav-bar>

<div class="card-task-content" routerLink="/board">
    <div class="card-task-container" (click)="stopPropagation($event)">
        <div class="task-column" *ngIf="task">
            <div class="card-task-close">
                <div class="card-task-category" [style.background-color]="task.color">{{ task.category }}</div>
                <img src="../../assets/img/xicon.svg" alt="Close Card-Task" routerLink="/board">
            </div>
            <h2>{{ task.title }}</h2>
            <p>{{ task.description }}</p>
            <div><strong>Due Date:</strong> {{ task.date }}</div>
            <div><strong>Priority:</strong><img class="prio-img" [src]="getPriorityImage(task.prio)"></div>
            <select [(ngModel)]="task.status" (change)="updateTaskStatus(task.status)">
                <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
            </select>
            <div *ngIf="task?.subtasks?.length">
                <strong>Subtasks:</strong> {{ task.subtasks.join(', ') }}
            </div>
            <div class="users">
                <div>
                    <div class="assigned-contact" *ngFor="let name of task.assignedTo">
                        <p class="circle" [style.background-color]="getColorForContact(name)">
                            {{ getInitials(name) }}
                        </p>
                        <p>
                            {{ getFullNameForContact(name) }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-task-bottom">
                <a class="edit-task"></a>
                <div class="delete-task" (click)="deleteTask()"></div>
            </div>
        </div>
    </div>
</div>