/* Content - right side */

.contact-selection-container {
    padding-left: 50px;
}

.icon-top-right {
    display: flex;
    justify-content: flex-end;
}

.contact-cancel-icon,
.contact-cancel-icon-mobile {
    padding: 10px;
    height: 25px;
    border-radius: 8px;
    transition: all 225ms ease-in-out;
    cursor: pointer;
}

// .contact-cancel-icon:hover,
// .contact-cancel-icon-mobile:hover,
// .contact-edit-icon:hover,
// .contact-trash-icon:hover {
//     background-color: #94d5f0;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }

.contact-selection-box {
    display: flex;
}

.contact-selection {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-information-name {
    font-size: 28px;
    padding: 0px 0 15px 0;
}

.contact-add-task {
    font-size: 14px;
    color: #007CEE;
    cursor: pointer;
    transition: all 225ms ease-in-out;

    &:hover {
        color: #2A3647;
    }
}

.contact-information-title {
    font-size: 20px;
    display: flex;
}

// .contact-edit {
//     display: flex;
//     align-items: center;
//     margin-left: 100px;
//     font-size: 14px;
//     cursor: pointer;
//     gap: 5px;
// }



// .contact-edit-hover {
//     content: url();
// }

.contact-edit-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.edit-pencil-icon {
    height: 40px;
    display: none;
}

.contact-trash-icon {
    padding: 10px;
    height: 25px;
    transition: all 225ms ease-in-out;
    cursor: pointer;

    &:hover {
        border-radius: 10px;
    }
}

.icon-bottom-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    cursor: pointer;
}

.margin-letters {
    margin-left: 20px;
}

.close-btn-overlay {
    display: none;
}


/* Title and subtitle */

.contact-header-container {
    display: flex;
    align-items: center;
    margin-top: 171px;
}

.contact-header-seperator {
    width: 3px;
    height: 56px;
    border-radius: 32px;
    margin-left: 32px;
    background-color: #29ABE2;
}

.contact-header-slogan {
    font-size: 28px;
    font-weight: 500;
    padding-left: 32px;
}

.contact-btn-icon {
    width: 25px;
    height: 22px;
}

.contact-btn-position {
    position: fixed;
    right: 32px;
    bottom: 64px;
    font-size: 18px;
}

.contact-cancel-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 5px 10px 5px 10px;
    gap: 8px;
    border: 1px solid black;
    border-radius: 8px;
    color: #2A3647;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    width: 140px;

    &:hover {
        color: #29ABE2;
        border-color: #29ABE2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all 125ms ease-in-out;
    }
}

.contact-cancel-btn:hover .contact-create-icon {
    content: url('../../assets/img/iconoir_cancel_hover.png');
}

.contact-add-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #2A3647;
    padding: 5px 10px 5px 10px;
    gap: 8px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 225ms ease-in-out;
    width: 170px;
    height: 60px;

    &:hover {
        background-color: #29ABE2;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
    }
}