.add-task-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.add-task-menu {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 50px;
    gap: 25px;
    height: 600px;
    overflow-y: auto;
}

.header-popup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-header-popup {
    height: 25px;
    cursor: pointer;
    padding: 10px;

    &:hover {
        background-color: #94d5f0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        transition: all 225ms ease-in-out;
    }
}

button {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.content-container {
    display: flex;
    gap: 50px;
}

span {
    font-weight: 400;
    font-size: 21px;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 452px;
    height: 506px;
    gap: 10px;
}

.selection-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-wrapper {
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

input,
select,
.select-wrapper {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    padding: 13px 21px;
    background-color: white;
    outline: none;
}

.member-wrapper {
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    .each-member {
        cursor: pointer;

        &:hover {
            color: #29ABE2;
        }
    }
}

.selected-contact {
    background-color: #abcdef;
    margin-right: 10px;
}

.category-inputs {
    position: relative;

    input {
        position: absolute;
    }

    .color-picker {
        right: 89px;
        top: 2px;
        padding: 0px !important;
        border: none;
        cursor: pointer;
        width: 40px;
        height: 45px;
        outline: none;
    }
}

.select-member {
    position: relative;
}

.category-member-selection {
    height: 40px;
    position: absolute;
    top: 5px;
    cursor: pointer;

    &:hover {
        background-color: #29ABE2;
        border-radius: 10px;
    }
}

.category-accept {
    right: 45px;
}

.category-cancel {
    right: 5px;
}

.category-assigned-to {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f5f5f5;
    width: 101%;
    top: 50px;
    left: 0;
    z-index: 11;
    border-radius: 10px;
    height: 138px;
    overflow-y: auto;
    margin-left: -1px;
}

select {
    appearance: none;
    background: url(/assets/img/arrow.png) 96% / 3% no-repeat white;
    cursor: pointer;
}

textarea {
    min-height: 119px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 18px 21px;
    outline: none;
    resize: vertical;
    font-size: 21px;
    font-weight: 400;
}

select::-ms-expand {
    display: none;
    /* Standardpfeil im IE 10 und 11 entfernen */
}

.middle-gap {
    border-left: 1px solid #D1D1D1;
    height: 506px;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 452px;
    height: 506px;
    gap: 10px;
    position: relative;
}

.right-container-mobile {
    width: 100%;
}

.features-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px
}

.prio-btn-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

.prio-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    transition: all 100ms ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
        width: 110%;
    }
}

.sector-top {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    align-items: center;
    font-size: 18px;
    padding: 5px 20px;
    cursor: pointer;
}

.prio-btn-red,
.prio-btn-orange,
.prio-btn-green {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 61, 0);
    color: white;
    width: 100%;
    height: 51px;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.prio-btn-orange {
    background-color: rgb(255, 168, 0);
}

.prio-btn-green {
    background-color: #7AE229;
}

.subtask-container {
    width: 100%;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    isolation: isolate;
}

.subtask-input {
    border: 0px !important;
    width: 80%;
    outline: none;
    cursor: pointer;
}

.plus-icon {
    cursor: pointer;
}

.subtask-icons {
    cursor: pointer;
}

.gap-img-subtask {
    width: 2px;
    height: 24px;
    background-color: #D1D1D1;
}

.submit-and-clear {
    display: flex;
    justify-content: center;
    padding-top: 85px;

    button {
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 18px 10px;
        margin-left: 25px;
    }
}

.btn-createTask {
    background: #2A3647;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    transition: all 100ms ease-in-out;

    &:hover {
        background-color: #29ABE2;
        border: 2px solid #29ABE2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.btn-clear {
    border: solid 1px #2A3647;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 18px 10px;
    margin-left: 25px;
    transition: background 255ms ease-in-out;
    color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    gap: 10px;
    transition: all 100ms ease-in-out;
    cursor: pointer;

    &:hover {
        color: #29ABE2;
        border: 2px solid #29ABE2;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.checkbox_urgen,
.checkbox_medium,
.checkbox_low {
    display: none;
}

.checkbox_urgen[type="radio"]:checked+label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 61, 0);
    color: white;
    width: 100%;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.checkbox_medium[type="radio"]:checked+label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 168, 0);
    color: white;
    width: 100%;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.checkbox_low[type="radio"]:checked+label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: #7AE229;
    color: white;
    width: 100%;
    gap: 10px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.circle {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin-left: 15px;
    border: white;
}

.category {
    display: flex;
    align-items: center;
    padding: 7px 20px;
    cursor: pointer;

    &:hover {
        background-color: lightgray;
    }
}

.assigned-to {
    display: flex;
    align-items: center;
    padding: 7px 20px;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.assigned-to-line {
    display: flex;
    justify-content: space-between;
    padding: 7px 20px;
}

.assigned-to-wrapper {
    margin-bottom: 30px;
}

.popup-task-added {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    color: white;
    background-color: #2A3647;
    border: none;
    border-radius: 10px;
}

.category-added-cont {
    text-align: center;
    width: 250px;
    z-index: 21;
    font-size: 16px;
    background-color: #2a3647;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.user-btn {
    height: 35px;
}

.height {
    height: 750px;
}

.delete-subtask {
    height: 15px;
    padding-left: 15px;
}

.del-newCat {
    margin-left: auto;
}

.del-newCat img {
    height: 15px;
    width: 15px;
}

@media(max-width:1400px) {
    .main-container {
        margin-right: 10px;
    }
}

@media(max-width:1200px) {
    .add-task-menu {
        height: 77%;
    }

    .btn-clear {
        margin-left: unset;
    }

    .submit-and-clear {
        padding: unset;

        button {
            white-space: nowrap;
        }
    }

    .left-container {
        height: unset;
    }

    .title-container {
        width: 450px;
        display: flex;
        justify-content: flex-start;
    }

    .main-container {
        margin-left: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .middle-gap {
        display: none;
    }

    .content-container {
        flex-direction: column;
        gap: 0;
    }

    .right-container {
        align-items: center;
        height: unset;
        margin-bottom: 30px;
    }

    .submit-and-clear {
        position: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label,
    input,
    textarea,
    p,
    .prio-btn,
    .submit-and-clear {
        font-size: 16px;
    }
}

@media(max-width: 1000px) {
    .add-task-mobile {
        z-index: 11;
        display: block !important;
        position: fixed;
        top: 18px;
        right: 27px;
        cursor: pointer;
    }

    .title-container {
        flex-direction: column;
    }

    .main-container {
        margin-top: 130px;
        margin-left: 0;
    }

    .headline-mobile {
        display: block !important;
        font-size: 16px;
    }

    .left-container {
        height: auto;
    }

    .contact-addTask-bottom {
        width: 108%;
    }
}

@media(max-width:600px) {

    .submit-and-clear {
        width: 100%;
    }
}

@media(max-width: 500px) {
    .add-task-menu {
        width: 100vw;
        padding: 15px 24px;
    }

    .main-container {
        margin-right: 0;
    }

    .width-unset {
        width: unset;
    }

    .contact-addTask-bottom {
        width: 100%;
    }
}

@media(max-width: 400px) {

    .submit-and-clear button {
        margin-left: 10px;
    }

    .prio-btn img {
        height: 7px;
        width: 7px;
    }

    .checkbox_low[type="radio"]:checked+label img,
    .checkbox_medium[type="radio"]:checked+label img,
    .checkbox_urgen[type="radio"]:checked+label img {
        height: 7px;
        width: 7px;
    }
}