.d-none {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.join-logo {
    width: 100px;
    height: 120px;
    position: absolute;
    top: 67px;
    left: 77px;    
    object-fit: contain;
}

.start-bg {
    z-index: 10;
    animation: animation-bg 1s ease-in-out;
    animation-direction: normal;

    @keyframes animation-bg {
        0% {
            opacity: 0%;
        }

        20% {
            opacity: 0%;
        }

        100% {
            opacity: 100%;
        }
    }
}

.logo-animation {
    animation: start-logo-animation 1s ease-in-out;
    animation-direction: normal;
    z-index: 11;

    @keyframes start-logo-animation {
        0% {
            width: 274px;
            height: 334px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        20% {
            width: 274px;
            height: 334px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        100% {
            width: 100px;
            top: 80px;
            left: 77px;
        }
    }
}

.heading-span {
    margin-top: -50px;
    font-size: 61px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
}

::placeholder {
    color: #D1D1D1;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
}

.input-email-pw {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 13px 21px;
    box-sizing: border-box;
    width: 422px;
    height: 51px;
}

.input-email-img {
    background-image: url(../../assets/img/input-email-img.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
}

.input-password-img {
    background-image: url(../../assets/img/input-pw-img.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
}

.back-img {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 50px;
}

form {
    position: relative;
    padding: 70px 0 35px 0;
    width: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    gap: 35px;
}

.sign-up-btn {
    height: 51px;
    width: 145px;
    border-radius: 8px;
    padding: 4px 0;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    border: none;
    cursor: pointer;
}

.msg-box {
    font-weight: 700;
    font-weight: 700;
    text-align: center;
    font-size: 700;
    font-weight: 700;
    font-weight: 700;
    font-size: 22px;
    color: #29ABE2;
}

.opacity {
    opacity: 0;
}

@media(max-width:700px) {
    .join-logo {
        top: 37px;
        width: 70px;
    }

    .underline {
        display: none;
    }

    .sign-up {
        top: unset;
        bottom: 55px;
        right: unset;
    }

    .input-email-pw {
        width: 285px;
    }

    .heading-span {
        font-size: 47px;
    }

    .underline-mobile {
        display: block;
        margin-top: -20px;
    }

    .back-img-web {
        display: none;
    }

    form {
        width: 320px;
    }

    .back-img-sign-up-mobile {
        display: block !important;
        position: absolute;
        top: 30px;
        left: 25px;
    }

    .back-img {
        display: none;
    }

    .logo-animation {
        animation: none;
    }

    #animation-mobile {
        display: block;
        position: fixed;
        z-index: 21;
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: mobile;
        animation-duration: 3000ms;

        @keyframes mobile {
            0% {
                visibility: visible;
            }

            50% {
                visibility: visible;
            }

            100% {
                visibility: hidden;
            }
        }
    }

    .animation-stop {
        display: none !important;
    }


    @media(max-width: 400px) {
        .join-logo {
            top: 10px;
            left: 41px;
            width: 40px;
            height: 104px;
        }

        .content {
            height: 90vh;
        }

        // .form {
        //     bottom: 1825px;
        // }
    }
}