nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 0px;
    gap: 103px;
    position: fixed;
    width: 232px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    font-size: 16px;
    line-height: 120%;
    z-index: 4;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #000000;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 229px;
    gap: 15px;
}

.nav-main {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 53px;
    height: 46px;
    white-space: nowrap;

    &:hover {
        background-color: #091931;
    }
}

.nav-content {
    display: flex;
    align-items: center;
}

.nav-icon-container {
    display: flex;
    justify-content: center;
    width: 28px;
    padding-right: 16px;
}

.legal-notice {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 37px;
    height: 31px;
    margin-top: auto;
    white-space: nowrap;

    &:hover {
        background-color: #091931;
    }
}

.d-none {
    display: none !important;
}

nav a.active {
    background-color: #29ABE2;
    /* Set the desired background color for the focus effect */
    color: white;
    /* Set the desired text color for the focus effect */
}


@media(max-width: 1000px) {
    nav {
        top: unset;
        right: 0;
        width: unset;
        padding: 0;
    }

    .nav-bar {
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
        height: 80px;
    }

    .nav-content {
        flex-direction: column;
        gap: 13px;
    }

    .nav-main {
        height: 100%;
        padding: 0 53px;
    }

    .nav-icon-container {
        padding: 0;
    }

    .legal-notice {
        display: none;
    }

    .summary-logo {
        display: none;
    }

    .logout-menu {
        height: 108px;
        top: 80px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: unset;
    }

    .logout-menu span {
        display: block !important;
        padding-top: 5px;
        padding-left: 8px;
    }
}

@media(max-width: 700px) {
    .nav-main {
        height: unset;
        padding: 0;
        width: 90px;
        justify-content: center;
    }
}