<app-header></app-header>
<app-nav-bar></app-nav-bar>

<div class="board-section">
    <div class="board-header">
        <div class="headline-mobile d-none">Kanban Project Management Tool</div>
        <div class="board-add-task width">
            <h2>Board</h2>
            <img routerLink="/add-task-menu" class="add-task-btn-mobile d-none" src="assets/img/add-task-mob.png">
        </div>
        <div class="search-container">
            <div class="search-box"><input type="text" placeholder="Find Task" onkeyup="findTasks()" id="findTask">
                <div class="dividing-line"></div>
                <div class="search-icon"><img src="assets/img/magnifier.png"></div>
            </div>
            <button class="add-task" routerLink="/add-task-menu">Add task +</button>
        </div>
    </div>

    <div cdkDropListGroup>
        <div class="example-container">
            <h2>To do</h2>
            <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of todo" cdkDrag >{{item}}</div>
            </div>
        </div>

        <div class="example-container">
            <h2>In Progress</h2>
            <div cdkDropList [cdkDropListData]="in_progress" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of in_progress" cdkDrag>{{item}}</div>
            </div>
        </div>

        <div class="example-container">
            <h2>Awaitng Feedback</h2>
            <div cdkDropList [cdkDropListData]="awaiting_feedback" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of awaiting_feedback" cdkDrag>{{item}}</div>
            </div>
        </div>

        <div class="example-container">
            <h2>Done</h2>
            <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
            </div>
        </div>
    </div>
</div>