<app-header></app-header>
<app-nav-bar></app-nav-bar>

<div class="main-container">
    <div class="title-container width-unset">
        <div class="headline-mobile d-none">Kanban Project Management Tool</div>
        <h1>Add Task</h1>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="content-container">
            <div class="left-container width-unset">
                <div class="selection-container">
                    <label>Title</label>
                    <input type="text" placeholder="Enter a title" formControlName="title">
                </div>
                <div class="selection-container">
                    <label>Description</label>
                    <textarea placeholder="Enter a description" formControlName="description"></textarea>
                </div>
                <div class="selection-container prevent-select">
                    <label id="category-headline">Category</label>
                    <div id="category-required" class="category-added-cont d-none">Please enter a category!</div>
                    <div id="new-category" class="new-cat input-new-cat d-none">
                        <input id="new-category-input" type="name" placeholder="Category Name ...">
                        <div id="category-added-cont" class="category-added-cont d-none">New Category added!</div>

                        <div class="new-category-icons">
                            <input id="category-color" type="color">
                            <img src="./assets/img/checkmark.png" alt="#" onclick="addColorCategory()">
                            <img src="./assets/img/cancel.png" alt="#" onclick="closeNewCategory()">
                        </div>
                    </div>
                    <div class="select-wrapper" id="select-wrapper" onclick="openDropdown('category-choices')">
                        <div class="sector_top">
                            <p id="category-header">Select your Category</p><img src="./assets/img/arrow_down.png">
                            <div id="category-required-header" class="category-added-cont d-none">Please enter a
                                category!</div>
                        </div>
                        <div class="category-assigned-to d-none" id="category-choices">
                            <div class="category cursor-pointer" onclick="openAddNewCategory('category-choices')">New
                                Category<img class="new-category-img" src="assets/img/add_task_mob.svg"></div>
                            <div class="category" cursor-pointer onclick="changeCategoryHeader('Marketing')">
                                <div id="marketing">Marketing </div>
                                <div class="circle" style="background: #0038ff;"></div>
                            </div>
                            <div class="category cursor-pointer" onclick="changeCategoryHeader('Media')">
                                <div id="media">Media </div>
                                <div class="circle" style="background: #ffc702;"></div>
                            </div>
                            <div class="category cursor-pointer" onclick="changeCategoryHeader('Backoffice')">
                                <div id="backoffice">Backoffice </div>
                                <div class="circle" style="background: #1FD7C1;"></div>
                            </div>
                            <div class="category cursor-pointer" onclick="changeCategoryHeader('Design')">
                                <div id="design">Design </div>
                                <div class="circle" style="background:  #ff7a00;"></div>
                            </div>
                            <div class="category cursor-pointer" onclick="changeCategoryHeader('Sales')">
                                <div id="sales">Sales </div>
                                <div class="circle" style="background: #fc71ff;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selection-container prevent-select">
                    <label id="assignedto-headline">Assigned To</label>
                    <div id="member-required" class="category-added-cont d-none">Please select a member!</div>
                    <div class="select-wrapper assigned-to-wrapper">
                        <div class="sector_top" onclick="openDropdown('assigned-to-choices')">
                            <p id="assigned-to-header">Select your Members</p><img src="./assets/img/arrow_down.png">
                        </div>
                        <div class="assigned-to-choices d-none" id="assigned-to-choices">
                            <div class="category-assigned-to" onclick="changeCategoryHeader('Marketing')">
                                <div id="marketing">Marketing </div>
                                <div class="circle" style="background: #0038ff;"></div>
                            </div>
                            <div class="assigned-to" onclick="changeCategoryHeader('Media')">
                                <div>Media </div>
                                <div class="circle" style="background: #ffc702;"></div>
                            </div>
                            <div class="assigned-to" onclick="changeCategoryHeader('Backoffice')">
                                <div>Backoffice </div>
                                <div class="circle" style="background: #1FD7C1;"></div>
                            </div>
                            <div class="assigned-to" onclick="changeCategoryHeader('Design')">
                                <div>Design </div>
                                <div class="circle" style="background:  #ff7a00;"></div>
                            </div>
                            <div class="assigned-to" onclick="changeCategoryHeader('Sales')">
                                <div>Sales </div>
                                <div class="circle" style="background: #fc71ff;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-gap"></div>
            <div class="right-container width-unset">
                <div class="features-container">
                    <label for="date">Due Date</label>
                    <input class="date" type="date" id="date" name="date" required>
                </div>
                <div class="features-container">
                    <label>Prio</label>
                    <div onchange="changeColor(); return false" class="prio-btn-container">
                        <input type="radio" class="checkbox_urgen" id="urgentBtn" name="radio">
                        <label for="urgentBtn" class="prio-btn prio-urgent urgentSection" for="checkbox_urgen"
                            id="urgentSection">
                            Urgent<img class="add-task-img" id="prioUrgentWhite" src="assets/img/prio_urgent.png">
                        </label>
                        <input type="radio" class="checkbox_medium" id="mediumBtn" name="radio">
                        <label for="mediumBtn" class="prio-btn prio-urgent mediumSection" for="checkbox_urgen"
                            id="mediumSection">
                            Medium<img class="add-task-img" id="prioUrgentWhite" src="assets/img/prio_medium.png">
                        </label>
                        <input type="radio" class="checkbox_low" id="lowBtn" name="radio" checked>
                        <label for="lowBtn" class="prio-btn prio-urgent lowSection" for="checkbox_urgen"
                            id="lowSection">
                            Low<img class="add-task-img" id="prioUrgentWhite" src="assets/img/prio_low_white.png">
                        </label>
                    </div>

                    <div class="features-container">
                        <label>Subtasks</label>
                        <div class="subtask-container">
                            <input *ngIf="!subtaskInput" class="subtask-input" placeholder="Add new subtask" (click)="subtaskInput = true"><img *ngIf="!subtaskInput" class="plus-icon" src="assets/img/plus_icon.png" (click)="subtaskInput = true">
                            <input *ngIf="subtaskInput" class="subtask-input" type="text" placeholder="Enter a title" formControlName="title">
                            <img *ngIf="subtaskInput" class="subtask-icons" src="../../assets/img/icon_check_subtask.svg">
                            <div *ngIf="subtaskInput" class="gap-img-subtask"></div>
                            <img *ngIf="subtaskInput" class="subtask-icons" src="../../assets/img/icon_cancel_subtask.svg" (click)="subtaskInput = false">
                        </div>
                        <div>
                            <ul id="subtask-list">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="submit-and-clear">
                    <div class="btn-clear" onclick="clearAll()">Clear<img class="clear-img"
                            src="assets/img/iconoir_cancel.png"></div>
                    <div><Button class="btn-createTask">Create Task<img src="assets/img/icons_check.png"></Button>
                    </div>
                </div>
                <button class="add-task-mobile d-none"><img src="assets/img/add_task_btn_mob.png"
                        alt="Create task button"></button>
            </div>
        </div>
    </form>
</div>