.d-none {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    gap: 35px;
    position: relative;
    width: 826px;
    height: 370px;
    padding-top: 90px;
}

.heading-span {
    margin-top: -50px;
    font-size: 61px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
}

::placeholder {
    color: #D1D1D1;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
}

.input-email-pw {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 13px 21px;
    box-sizing: border-box;
    width: 422px;
    height: 51px;
}

.input-email-img {
    background-image: url(../../assets/img/input-email-img.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
}

.back-img {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 50px;
}

#forgot-pw-span {
    width: 656px;
    height: 50px;
}

.send-email-btn {
    background-color: #2A3647;
    color: white;
    margin-top: 6px;
    height: 51px;
    width: 264px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.send-email-btn:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 125ms ease-in-out;
}

.sign-up-page {
    position: relative;
    padding: 70px 0 35px 0;
    width: 652px;
}

.sign-up-btn {
    height: 51px;
    width: 145px;
    border-radius: 8px;
    padding: 4px 0;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    border: none;
    cursor: pointer;
}

.reset-pw-page {
    position: relative;
    width: 700px;
    height: 450px;
    padding: 15px 60px 44px 60px;
}

#email-sent-text {
    position: fixed;
    bottom: 70px;
}

.continue-btn {
    background-color: #2A3647;
    color: white;
    height: 51px;
    width: 264px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.continue-btn:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 125ms ease-in-out;
}

.msg-box {
    font-weight: 700;
    font-weight: 700;
    text-align: center;
    font-size: 700;
    font-weight: 700;
    font-weight: 700;
    font-size: 22px;
    color: #29ABE2;
}

.opacity {
    opacity: 0;
}

@media(max-width: 900px) {
    form {
        width: 360px;
        height: 420px;
    }

    .span-font {
        width: 330px;
    }

    .input-email-forgot-pw {
        width: 330px !important;
        margin: 25px !important;
    }

    .heading-span-forgot-pw {
        font-size: 40px !important;
        line-height: 120% !important;
    }

    .back-img-forgot-pw {
        display: none;
    }

    .back-img-forgot-pw-mobile {
        display: block;
        position: absolute;
        top: 30px;
        left: 25px;
    }

    .send-email-btn {
        width: 180px;
    }

    .send-email-btn-font {
        font-size: 16px !important;
    }

    .reset-pw-page {
        width: 500px;
        height: 528px;
    }
}

@media(max-width:700px) {
    .underline {
        display: none;
    }

    .input-email-pw {
        width: 285px;
    }

    .heading-span {
        font-size: 47px;
    }

    .underline-mobile {
        display: block;
    }

    .back-img-web {
        display: none;
    }

    .back-img-sign-up-mobile {
        display: block !important;
        position: absolute;
        top: 30px;
        left: 25px;
    }

    .back-img {
        display: none;
    }
    
    // @media(max-width: 400px) {
    //     .content {
    //         height: 90vh;
    //     }
    // }
}