@mixin space_between {
    display: flex;
    justify-content: space-between;
}

@mixin space_between_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin justify_content_center {
    display: flex;
    justify-content: center;
}

@mixin align_items_center {
    display: flex;
    align-items: center;
}

@mixin flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin colum_justify_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex_direction_column {
    display: flex;
    flex-direction: column;
}

@mixin space_between_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex_column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin button_styles {
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

@mixin font($size, $weight, $line) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
}

@mixin width_height($width, $height) {
    width: $width;
    height: $height;
}

@mixin margin_left_right($ml, $mr) {
    margin-left: $ml;
    margin-right: $mr;
}


$main_color_bright: #29ABE2;
$main_color_dark: #2A3647;
$color_black: #000000;
$main_bg_color: #f5f5f5;